# HistoryServer 전용 - 바인드용 (클라이언트는 hadoop-config의 historyserver-svc 사용)
apiVersion: v1
kind: ConfigMap
metadata:
  name: historyserver-mapred
  namespace: hadoop
data:
  mapred-site.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
      <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
      </property>
      <property>
        <name>mapreduce.jobhistory.address</name>
        <value>0.0.0.0:10020</value>
      </property>
      <property>
        <name>mapreduce.jobhistory.webapp.address</name>
        <value>0.0.0.0:19888</value>
      </property>
    </configuration>
