apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: datanode
  namespace: hadoop
spec:
  serviceName: datanode-svc
  replicas: 2
  selector:
    matchLabels:
      app: datanode
  template:
    metadata:
      labels:
        app: datanode
    spec:
      securityContext:
        runAsUser: 0
      initContainers:
        - name: wait-namenode
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z namenode-svc 8020; do echo waiting for NameNode; sleep 3; done"]
      containers:
        - name: datanode
          image: apache/hadoop:3.4.0
          command: ["hdfs", "datanode"]
          ports:
            - containerPort: 9864
            - containerPort: 9866
          volumeMounts:
            - name: datanode-data
              mountPath: /hadoop/dfs/data
            - name: hadoop-config
              mountPath: /opt/hadoop/etc/hadoop
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
      volumes:
        - name: hadoop-config
          configMap:
            name: hadoop-config
        - name: datanode-data
          emptyDir: {}
