apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodemanager
  namespace: hadoop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodemanager
  template:
    metadata:
      labels:
        app: nodemanager
    spec:
      initContainers:
        - name: wait-rm
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z resourcemanager-svc 8088; do echo waiting for ResourceManager; sleep 3; done"]
      containers:
        - name: nodemanager
          image: apache/hadoop:3.4.0
          command: ["yarn", "nodemanager"]
          ports:
            - containerPort: 8042
          volumeMounts:
            - name: hadoop-config
              mountPath: /opt/hadoop/etc/hadoop
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
      volumes:
        - name: hadoop-config
          configMap:
            name: hadoop-config
