apiVersion: apps/v1
kind: Deployment
metadata:
  name: resourcemanager
  namespace: hadoop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resourcemanager
  template:
    metadata:
      labels:
        app: resourcemanager
    spec:
      initContainers:
        - name: wait-namenode
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z namenode-svc 8020; do echo waiting for NameNode; sleep 3; done"]
      containers:
        - name: resourcemanager
          image: apache/hadoop:3.4.0
          command: ["yarn", "resourcemanager"]
          ports:
            - containerPort: 8088
          volumeMounts:
            - name: hadoop-config
              mountPath: /opt/hadoop/etc/hadoop
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
      volumes:
        - name: hadoop-config
          configMap:
            name: hadoop-config
